export('smlogin')
export('userdetails')
export('surveylist')
export('surveydetails')
export('collectors')
export('createcollector')
export('responsecounts')
export('respondentlist')
export('getresponses')
export('templates')
export('createsurvey')

import('httr')
import('RJSONIO')
