export('smlogin')
export('userdetails')
export('surveylist')
export('surveydetails')
export('surveyquestions')
export('collectors')
export('createcollector')
export('responsecounts')
export('respondentlist')
export('getresponses')
export('getallresponses')
export('templates')
export('createsurvey')

S3method(print, 'sm_survey')
S3method(print, 'sm_collector')
S3method(print, 'sm_respondent')
S3method(print, 'sm_response')
S3method(print, 'sm_template')

S3method(as.data.frame, 'sm_response')
S3method(as.data.frame, 'sm_response_list')

importFrom('stats', 'setNames')
importFrom('utils', 'head')
importFrom('plyr', 'rbind.fill')
importFrom('curl', 'curl_escape')
import('httr')
import('jsonlite')
